/* map-styles.css */

/* Full-page map styling */
#map {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5EB;
}

/* Hexagon button hover effect */
.hexagon-button:hover {
    fill-opacity: 0.3;
}

/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.close-button {
    float: right;
    font-size: 20px;
    cursor: pointer;
}
